/* body{
  background-image: linear-gradient(to right top, #0066ff, #0095ff, #00bbff, #52dbff, #b2f7ff);
  background-repeat: no-repeat;
} */


.btn-group-sm>.btn, .btn-sm  {
  border-radius:  0px;
}

.daily-form{
  border: 0px;
  font-size: 6em;
}